
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
section{
    margin-top: 3em;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: 0.7s ease; 
    box-shadow: black 0.7s ease;
    background-color: #fff;
    height: 4em;
}
.header__text{
    display: flex;
    color: #000;
    margin-top: 1em;
}
header.scrolled {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0em 1em;
}
.navigation{
    margin-left: 2em;
    text-decoration: none;
    color: black;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    border: rgb(48, 91, 165) solid 0.5em;
    background-color: rgb(48, 91, 165);
    border-radius: 2em;
    scroll-behavior: smooth;
    margin-top: 2em;
    width: 99%;
    margin-left: 0.4em;
    scroll-behavior: smooth;
}
.nav__option{
    text-decoration: none;
    color: white;
}
.nav__option:hover{
    text-decoration: none;
    color: rgb(54, 162, 192);
}
.about__kopa{
    margin-top: 3em;
}
.gi{
    display: flex;
    justify-content: center;
}
.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: rgb(48, 91, 165) solid 0.5em;
    background-color: rgb(48, 91, 165);
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
}
.info__text{
    color: white;
    font-size: 1em;
}
.info__img{
    height: 15em;
    width: 25em;
}
.research{
    margin-top: 8em;
}
.research__img{
    width: 100%;
}
.research__text {
    text-align: center;
    max-width: 56.25em;
    margin: 0 auto;
    line-height: 1.6em;
    margin-top: 2em;
}
.locations__main__text{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.locations__text{
    text-align: center;
    max-width: 56.25em;
    margin: 0 auto;
    line-height: 1.6em;
    margin-top: 2em;
}
.locations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location__img{
    height: 30em;
    margin-left: 2em;
    margin-top: 1.5em;
}
.location__name{
    margin-top: 1em;
}
.main__location__text{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.location1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: rgb(48, 91, 165) solid 0.5em;
    background-color: rgb(48, 91, 165);
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
}
.location1__img{
    height: 15em;
    width: 70em;
}
.location1__text{
    color: white;
    margin-left: 1em;
}
.beach__issue{
    display: flex;
    justify-content: center;
}
.beach__issue__img{
    height: 30em;
    width: 25em;
}
.lakeside__imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    margin-top: 3em;
}
.location2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: rgb(48, 91, 165) solid 0.5em;
    background-color: rgb(48, 91, 165);
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
}
.location2__img{
    height: 15em;
    width: 70em;
}
.location2__text{
    color: white;
    margin-left: 1em;
}
.location3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: rgb(48, 91, 165) solid 0.5em;
    background-color: rgb(48, 91, 165);
    border-radius: 2em;
    padding: 2em;
    margin: 2em;
}
.location3__img{
    height: 15em;
    width: 70em;
}
.location3__text{
    color: white;
    margin-left: 1em;
}
.problems__img{
    width: 100%;  
    height: 10em;
    margin-top: 3em;
}
.problems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.problem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.problem__img{
    height: 30em;
    gap: 10em;
    margin-top: 3em;
}
.problem__text{
    margin-top: 1em;
}
.solutions__img{
    width: 100%;  
    height: 10em;
    margin-top: 3em;
}
.problems__text{
    text-align: center;
    max-width: 56.25em;
    margin: 0 auto;
    line-height: 1.6em;
    margin-top: 2em;
}
.solutions__text{
    text-align: center;
    max-width: 56.25em;
    margin: 0 auto;
    line-height: 1.6em;
    margin-top: 2em;
}
.solutions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.solution{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solution__img{
    height: 30em;
    margin-top: 3em;
}
.solution__text{
    margin-top: 1em;
}
.actions__text{
    text-align: center;
    margin-top: 3em;
}
.actions{
    text-align: center;
    margin-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}
footer{
    background-color: rgb(48, 91, 165);
    height: 5em;
    margin-top: 5em;
    align-items: center;
}
.footer__text{
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-top: 1em;
}
.gallery__text{
    display: flex;
    justify-content: center;
    font-size: 2em;
}
.slider{
  margin-left: 6.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 35em;
  width: 79em;
  position: relative;
  overflow: hidden;
}
.slider__img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8 ease-in-out;
}
.slider__img.active{
  opacity: 1;
  z-index: 1;
}
.slider img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.place__text{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.places{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}
.place{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.place__img{
    height: 30em;
    margin-top: 3em;
}
.lakesides{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}
.lakeside__img{
    height: 30em;
    width: 22.6em;
    margin-top: 3em;
}
.samples{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}
.samples__img{
    height: 30em;
    width: 22.6em;
    margin-top: 3em;
}
.support__text{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second__text{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.reason{
    text-align: center;
    max-width: 56.25em;
    margin: 0 auto;
    line-height: 1.6em;
    margin-top: 1em;
}
.support{
    display: flex;
    justify-content: center;
    border: #3171c5 1em solid;
    background-color: #3171c5;
    border-radius:2em ;
    margin-right: 31em;
    margin-left: 31em;
    margin-top: 3em;
    height: 20em;
    color: white;
}
.support__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 { 
    margin-bottom: 20px;
 }
.donation__text{
    text-align: center;
}
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: #4CAF50;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background: #45a049;
}

